@{
    ViewData["Title"] = "Zarządzaj Wiadomościami";
}

<h1>Zarządzaj Wiadomościami</h1>

<p>Ta funkcjonalność zostanie wdrożona w przyszłości. Tutaj możesz wyświetlać i odpowiadać na wiadomości od sprzedawcy lub systemu.</p>
